.brush-color-red
{
    background-color: red;
}

.brush-color-orange
{
    background-color: orange;
}

.brush-color-yellow
{
    background-color: yellow;
}

.brush-color-yellowgreen
{
    background-color: yellowgreen;
}

.brush-color-green
{
    background-color: green;
}

.brush-color-lightblue
{
    background-color: rgb(124, 199, 224);
}

.brush-color-blue
{
    background-color: blue;
}

.brush-color-violet
{
    background-color: violet;
}

.brush-color-purple
{
    background-color: purple;
}

.brush-color-pink
{
    background-color: rgb(255, 160, 176);
}

.brush-color-tan
{
    background-color: tan;
}

.brush-color-brown
{
    background-color: rgb(107, 73, 21);
}

.brush-color-white
{
    background-color: white;
}

.brush-color-lightgray
{
    background-color: lightgrey;
}

.brush-color-gray
{
    background-color: gray;
}

.brush-color-black
{
    background-color: black;
}